.blogItem-wrap{
    display: flex;
    flex-direction: column;
}


.blogItem-cover{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 0.5rem;

}
.blogItem-wrap h3{
    margin: 0.5rem 0 1rem 0;
    flex: 1;
}

.blogItem-desc{
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: 0.8rem;
    padding-right: 0.6rem;
    color: rgb(7, 10, 9);
}
.blogItem-desc::before{
    position: absolute;
    content: '.......';
    bottom: 0;
    right: 0;
}
.blogItem-wrap footer{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}
.blogItem-link{
    text-decoration: none;
    counter-reset: inherit;
    padding-left: 8rem;
}